{%extends 'layout.html'%}
{%block content%}
<div class="container padded-t-15">

    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel-heading ">
            <span class="padded-r-15" style="float: left;cursor: default"><a href="javascript:history.go(-1)"><h4><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>BACK</h4></a></span>
            <span><h4>
            <span>Published In {{content.addTime|date('Y-m-d H:i:s',-8*60)}}</span>
            <span style="margin-left:10px "> Views：{{content.views}}</span>
            <span style="margin-left:10px ">Comments:{{content.comments.length}}</span>
        </h4></span>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="music-msk col-md-5">
                    <img src="{{content.thumbnails}}" alt="..." class="img-circle img-spin center-block table-bordered" style="width: 150px;">
                </div>
                <div class="col-md-7 text-left">
                    <h1><span>{{content.title}}</span></h1>
                    <h4 class="padded-b-15"><span class="col-md-4">Artist</span><span class="col-md-8">{{content.artist}}</span></h4>
                    <h4 class="padded-b-15"><span class="col-md-4">Album</span><span class="col-md-8">{{content.album}}</span></h4>
                    <h4 class="padded-b-15"><span class="col-md-4">Date</span><span class="col-md-8">{{content.time}}</span></h4>
                </div>
            </div>
            <div class="col-md-6" >
                <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=500  height=86 src="{{content.audio}}"></iframe>
                <div class=" panel panel-default">
                    <div class="panel-heading text-center"><h5 class="panel-title">Lyrics</h5></div>
                    <div class=" text-center padded-l-10 padded-r-10" id="lyrics" style="height:110px; overflow:hidden;">
                        {% autoescape false %}{{content.content}}{% endautoescape %}
                        <div class="block-footer__tag text-gbb" style="cursor: pointer;" id="more">CLICK <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">COMMENTS<span style="float: right" id="count"></span> </h3>
        </div>
        <input type="hidden" id="contentId" value="{{content.id}}">
        {%if userInfo._id%}
        <textarea  id="msgContent" class="form-control " rows="3"></textarea>
        <div class="panel-footer">
            <button type="button" class="btn btn-default" id="msgBtn">Submit</button>
        </div>
        {%else%}
        <div class="panel-footer  text-danger text-center" id="plsLogin" style="cursor: pointer">
            <h4>Please,login!</h4>
        </div>
        {%endif%}
    </div>
    <div class="panel panel-default" id="msgList">
    </div>

    <ul class="pager">
        <li class="previous"></li>
        <li></li>
        <li class="next"></li>
    </ul>
</div>
    <script src="/public/js/comment.js"></script>
    {%endblock%}