<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome - HERE V R 0769</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/public/css/style.css" rel="stylesheet" type="text/css">
    <link rel="Shortcut Icon" href="/public/image/favicon.ico" type="image/x-icon" />
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/welcome.js"></script>
    <style>
        .li-text-bg{
            background: url(/public/image/text-bg.png) no-repeat;background-size:100%
        }
    </style>
</head>
<body id="page-top" style="background: url(/public/image/1.jpg) no-repeat;background-size:100%">
<!--导航-->
    <ul style="list-style: none;position: absolute;left: 70px;" class="text-left">
        <li><h2><a href="/main">HOME</a></h2></li>
        <li><h2><a href="/article?articleid=5965eee0698ad818a472efd5">BILLBOARD</a></h2></li>
        <li><h2><a href="/about">ABOUT</a></h2></li>
        <li><h2><a href="/contact">CONTACT</a></h2></li>
    </ul>
</body>

</html>